.form-box {
  display: none;
}

.form-box.active {
  display: block;
}

.error-massage {
  padding: 12px;
  background: #f8d7da;
  border-radius: 6px;
  font-size: 16px;
  color: #a42834;
  text-align: center;
  margin-bottom: 20px;
}
